<div id="<%= dom_id marathon %>">
  <div>
    <strong>Name:</strong>
    <%= marathon.name %>
  </div>

  <div>
    <strong>Entry start:</strong>
    <%= marathon.entry_start %>
  </div>

  <div>
    <strong>Entry end:</strong>
    <%= marathon.entry_end %>
  </div>

</div>
