<div id="<%= dom_id course %>">
  <div>
    <strong>Marathon:</strong>
    <%= course.marathon_id %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= course.name %>
  </div>

  <div>
    <strong>Capacity:</strong>
    <%= course.capacity %>
  </div>

</div>
